<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div style="margin-top: 80px;">
<img class="gambarlogo" src="assets/icon/logo1.jpg">
<p style="text-align: center">JagatPulsa v1.0</p>
<p class="txt1">
    Jagat Pulsa is an application that can be used to perform transaction for pulse, data packet with the cheap prices offered.<br>
    <br>
    Designed & Made in Indonesia<br><br>
    Copryight 2019 by Wira Dwi Susanto<br>
</p>
<h5 style="font-weight: bold;">Privay Policy</h5>
<p style="color: blue; text-decoration: underline;">Privacy Policy</p>
</div>
</ion-content>