<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
<p>Jenis Produk: </p>
<select name="jenisproduk" id="jenisproduk">
<option value="pulsaallopsel">Pulsa All Operator</option>
<option value="paketdatainternet">Paket Data Internet</option>
</select>
<p>Pilih Operator: </p>
<select name="pilihopsel" id="pilihopsel">
<option value="tsel">Telkomsel</option>
<option value="isat">Indosat</option>
<option value="three">Three</option>
<option value="xl">XL</option>
<option value="axis">AXIS</option>
<option value="smartfren">Smartfren</option>
</select>
<p>Nama Produk: </p>
<input type="text" name="namaproduk" id="namaproduk" placeholder="Nama Produk..." value="" maxlength="32">
<p>Photo/Icon Url: </p>
<input type="text" name="urlicon" id="urlicon" placeholder="Url Icon/Gambar Produk..." value="" maxlength="128">
<p>Harga Produk: </p>
<input type="number" name="hargaproduk" id="hargaproduk" placeholder="Harga Produk..." value="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==32) return false;">
<input type="button" name="submitProduk" id="submitProduk" value="TAMBAH PRODUK">
</div>
</ion-content>
