.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card{
margin-top: 20px;
--background: white;
--color: #fff;
text-align: justify;
}

.headerbg{
--background: grey;
--color: black;
}

.iconlogocontainer1{margin-left: 10px; padding: 10px; display: inline-block; width: 30%;}
.iconlogo1{margin-left: 8px; width: 50%; height: auto; display: inline-block;}
.iconlogo1 p{color: black; font-size: 14px; text-align: center;}

.daftarakunpremiumcontainer{padding: 10px; display: block;}
.daftarakunpremiumlogo{width: 25%; height: auto; float: left; padding-left: 10px; padding-bottom: 15px; margin-top: 10px; padding-right: 20px;}
.daftarakunpremiumtitle h2{color: #00AAFF; float: right;}
.daftarakunpremiumtitle p{color: black; font-size: 14px;}